body{
	background-color : #d1fbce;
}

.top{
	display : flex;
	flex-direction : row;
	box-shadow: 10px 10px 30px #cb3b3b;
	height : 100px;
	position : fixed;
	top : 0px;
	width : 100%;
	background-color : white;
}

.first{
	flex : 0 0 400px;
	display : flex;
	flex-direction : row;
}

.pagelogo{
	flex : 0 0 100px;
	
}

.pagelogo{
	width : 100%;
	height : 100%;
	transform : scale(1.3	);
	transform-origin: top left;
}

.heading{
	flex : 1 0 100px;
}

.main_head{
	font-weight : bold;
	margin : 0;
	margin-left : 80px;
	margin-top : 40px;
	font-size : 22.5px;
	font-family : courier;
	color : #cb3b3b;
}

.second{
	flex : 1 0 300px;
	position : relative;
}

.second select{
	position : absolute;
	top : 39px;
	left : 15px;
	width : 200px;
	border : solid 2px #cb3b3b;
	font-weight : bold;
	font-family : arial;
	background-color : white;
	padding : 3px;
	border-radius : 3px;
}

.third{
	flex : 2 0 300px;
	display : flex;
	flex-direction : row;
}

.search{
	flex : 1 0 100px;
	position : relative;
}

.search input{
	position : absolute;
	top : 39px;
	left : 15px;
}

input[type=text]{
	border : solid 2px #cb3b3b;
	font-weight : bold;
	font-family : arial;
	background-color : white;
	padding : 3px;
	border-radius : 3px;
}

.signin{
	flex : 0 0 100px;
	position : relative;
}

.signin button{
	position : absolute;
	top : 40px;
	left : 25px;
}

.sign{
	border : solid 2px #cb3b3b;
	font-weight : bold;
	font-family : arial;
	background-color : white;
	padding : 3px;
	border-radius : 3px;
}

.signup{
	flex : 1 0 100px;
	position : relative;
}

.signup button{
	position : absolute;
	top : 40px;
	left : 30px;
}

.create{
	border : solid 2px #cb3b3b;
	font-weight : bold;
	font-family : arial;
	background-color : white;
	padding : 3px;
	border-radius : 3px;
}

.bottom{
	height : 1000px;
}

.center{
	margin : auto;
	margin-top : 150px;
	box-shadow : 0px 0px 10px blue;	
	width : 700px;
	display : flex;
	flex-direction : column;
	box-shadow : 10px blue;
	background-color : #fee3ba;
}

.zero_1{
	flex : 0 0 50px;
	background-color : #f37e7e;
}

.zero_1 p{
	font-weight : bold;
	margin : 0;
	margin-top : 15px;
	margin-left : 10px;
	font-family : courier;
	font-size : 20px;
}

.first_1{
	flex : 0 0 300px;
	display : flex;
	flex-direction : column;
}

.menu{
	flex : 1 0 110px;
	display : flex;
	flex-direction : row;
	border-top : dotted 2px lightgrey;
	justify-content : space-evenly;
}

.menu1{
	height : 180px;
	flex : 0 0 250px;
	margin-top : 20px;
	display : flex;
	flex-direction : column;
}

.food1{
	flex : 1 0 100px;	
}

.img1{
	height : 100%;
	width : 100%;
	border-radius : 10px;
}

.name1{
	flex : 0 0 20px;
	
}	

.name1 p{
	margin : 0;
	font-weight : bold;
	text-align : center;
}

.menu2{
	height : 180px;
	flex : 0 0 250px;
	margin-top : 20px;
	display : flex;
	flex-direction : column;
}

.food2{
	flex : 1 0 100px;
}

.name2{
	flex : 0 0 20px;
}

.name2 p{
	margin : 0;
	font-weight : bold;
	text-align : center;
}

.img2{
	height : 100%;
	width : 100%;
	border-radius : 10px;
}

.switch{
	flex : 0 0 70px;

	display : flex;
	justify-content : space-evenly;
}

.switch button{
	width : 150px;
	padding : 4px;
	border : solid 2px black;
	border-radius : 3px;
	font-weight : bold;
	font-family : arial;
	background-color : #f37e7e;
	margin-top : 20px;
	border-radius : 10px;
}	

.second_1{
	flex : 0 0 350px;
	border-bottom : dotted 2px #f37e7e;
	display : flex;
	flex-direction : column;
}

.restrau_stats{
	flex : 0 0 50px;
	background-color : #f37e7e;	
}

.restrau_stats p{
	font-weight : bold;
	font-family : courier;
	font-size : 20px;
	margin : 0;
	margin-top : 15px;
	margin-left : 10px;
}

.restrau_1{
	flex : 0 0 300px;
	display : flex;
	flex-direction : column;
}

.menu_{
	flex : 1 0 110px;
	display : flex;
	flex-direction : row;
	
	justify-content : space-evenly;
}

.menu_1{
	height : 180px;
	flex : 0 0 250px;
	margin-top : 20px;
	display : flex;
	flex-direction : column;
}

.food_1{
	flex : 1 0 100px;	
}

.img_1{
	height : 100%;
	width : 100%;
	border-radius : 10px;
}

.name_1{
	flex : 0 0 20px;
	
}	

.name_1 p{
	margin : 0;
	font-weight : bold;
	text-align : center;
}

.menu_2{
	height : 180px;
	flex : 0 0 250px;
	margin-top : 20px;
	display : flex;
	flex-direction : column;
}

.food_2{
	flex : 1 0 100px;
}

.name_2{
	flex : 0 0 20px;
}

.name_2 p{
	margin : 0;
	font-weight : bold;
	text-align : center;
}

.img_2{
	height : 100%;
	width : 100%;
	border-radius : 10px;
}

.switch_{
	flex : 0 0 70px;
	
	display : flex;
	justify-content : space-evenly;
}

.switch_ button{
	width : 150px;
	padding : 4px;
	border : solid 2px black;
	border-radius : 3px;
	font-weight : bold;
	font-family : arial;
	background-color : #f37e7e;
	margin-top : 20px;
	border-radius : 10px;
}

.third_1{
	flex : 0 0 200px;
	
	display : flex;
	flex-direction : row;
}

.quotes{
	flex : 1 0 100px;
	display : flex;
	flex-direction : column;
}

.first_2{
	flex : 1 0 100px;
}

.first_2 p{
	font-weight : bold;
	font-size : 25px;
	padding-left : 20px;
	margin-top : 50px;
	font-family : arial;
}
	

.second_2{
	flex : 1 0 50px;
}

.second_2 p{
	font-weight : bold;
	font-family : courier;
	padding-left : 5px;
	color : grey;
}

.second_2 span{
	font-size : 20px;
}

.awards{
	flex : 1 0 100px;
}

.award{
	height : 90%;
	width : 90%;
	margin-left : 20px;
	margin-top : 10px;
	border : solid 2px black;
}

.fourth_1{
	flex : 0 0 80px;
	display : flex;
	flex-direction : row;
	background-color : black;
}

.name{
	flex : 1 0 100px;
}

.name h2{
	font-weight : bold;
	font-family : arial;
	padding-left : 20px;
	color : white;
	font-size : 30px;
}

.logo{
	flex : 1 0 100px;
	position : relative;
}

.fb{
	height : 40%;
	width : 15%;
	position : absolute;
	top : 25px;
	right : 110px;
}

.tweet{
	height : 40%;
	width : 15%;
	position : absolute;
	top : 25px;
	right : 40px;
}
